<% if flash[:notice] %>
  <div style="background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; padding: 15px; margin-bottom: 15px;">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= form_with(model: @job_approval_request, url: activejob_web_job_job_execution_job_approval_request_path(@job_approval_request)) do |form| %>
  <% if @job_approval_request.errors.any? %>
    <% @job_approval_request.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>
  <h1>Job Approval Request: <%= @job_approval_request.job_execution.job.title %></h1>
  <p><strong>Job Title:</strong> <%= @job_approval_request.job_execution.job.title %></p>
  <p><strong>Job Description:</strong> <%= @job_approval_request.job_execution.job.description %></p>
  <p><strong>Minimum Approvals Required:</strong> <%= @job_approval_request.job_execution.job.minimum_approvals_required %></p>
  <p><strong>Priority:</strong> <%= @job_approval_request.job_execution.job.priority %></p>
  <p><strong>Requestor Name:</strong> <%= @job_approval_request.job_execution.user.name %></p>
  <p><strong>Requestor email:</strong> <%= @job_approval_request.job_execution.user.email %></p>

  <div>
    <%= form.label :response, 'Approve' %>
    <%= form.radio_button :response, 'approved', checked: @job_approval_request.response == 'approved' %>

    <%= form.label :response, 'Decline' %>
    <%= form.radio_button :response, 'declined', checked: @job_approval_request.response == 'declined' %>
  </div><br>

  <div>
    <%= form.label :approver_comments %>
    <%= form.text_field :approver_comments %>
  </div><br>

  <div><%= form.submit 'submit' %></div>
<% end %>
<div><%= link_to 'Back', activejob_web_job_job_execution_job_approval_requests_path(@job_approval_request) %></div>
