<div class="p-3">
  <div class="row mb-3 mt-3">
    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="text-muted fw-normal mt-0 text-truncate" title="Jobs">Jobs</h5>
              <h3 class="my-2 py-1"><%= Activejob::Web::Job.count %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="text-muted fw-normal mt-0 text-truncate" title="Job Executions">Job Executions</h5>
              <h3 class="my-2 py-1"><%= Activejob::Web::JobExecution.count %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12">
              <h5 class="text-muted fw-normal mt-0" title="Job Approval Requests">Job Approval Requests</h5>
              <h3 class="my-2 py-1"><%= Activejob::Web::JobApprovalRequest.count %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if admin? || approver? %>
    <div class="row mt-3 p-3">
      <div class="col-12 col-md-12 col-xl-12 mt-md-0 mt-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-8 d-flex align-items-center">
                <h3 class="mb-3">Pending Job Approval Requests</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <% if @pending_approvals.present? %>
              <table class="table">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Requestor Email</th>
                  <th scope="col">Requestor Comment</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
                <% @pending_approvals.each do |approval_request| %>
                  <tr>
                    <td><%= approval_request.job_execution.job.title %></td>
                    <td><%= approval_request.job_execution.executor&.email || '-' %></td>
                    <td><%= approval_request.job_execution.requestor_comments || '-' %></td>
                    <td>
                  <span class="badge text-bg-<%= status_badge(approval_request.response) %>">waiting for approval</span>
                    </td>
                    <td>
                      <%= link_to 'Show', activejob_web_job_job_approval_request_path(approval_request.job_execution.job, approval_request), class: 'btn btn-outline-primary' %>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% else %>
              <h6>No Pending Approval Requests Found!</h6>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if common_model? %>
    <%= render partial: 'activejob/web/jobs/common_user_index', locals: { approval_jobs: @approval_jobs, execution_jobs: @execution_jobs } %>
  <% else %>
    <%= render partial: 'activejob/web/jobs/common_index', locals: { jobs: @jobs, title: 'Activejob Web Jobs' } %>
  <% end %>
</div>

