<div class="p-3">
  <div class="row mb-3 mt-3">
    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="text-muted fw-normal mt-0 text-truncate" title="Jobs">Jobs</h5>
              <h3 class="my-2 py-1"><%= Activejob::Web::Job.count %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-6">
              <h5 class="text-muted fw-normal mt-0 text-truncate" title="Job Executions">Job Executions</h5>
              <h3 class="my-2 py-1"><%= Activejob::Web::JobExecution.count %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12">
              <h5 class="text-muted fw-normal mt-0" title="Job Execution Requests">Job Execution Requests</h5>
              <h3 class="my-2 py-1"><%= Activejob::Web::JobApprovalRequest.count %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if common_model? %>
    <%= render partial: 'activejob/web/jobs/common_user_index', locals: { approval_jobs: @approval_jobs, execution_jobs: @execution_jobs } %>
  <% else %>
    <%= render partial: 'activejob/web/jobs/common_index', locals: { jobs: @jobs, title: 'Activejob Web Jobs' } %>
  <% end %>
</div>

