<h1>Job: <%= @job.title %></h1>

<%= form_with model: @job do |form| %>
  <% if @job.errors.any? %>
    <% @job.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <div>
    <% @job.approvers %>
      <h3>Assigned approvers for <%= @job.title %></h3>
      <ul>
    <% if @job.approvers.any? %>
    <% @job.approvers.each do |assigned| %>
            <li><%= assigned.name %></li>
    <% end %>
    <% else %>
    <%= 'No approvers assigned' %>
    <% end %>
      </ul>
  </div>

  <div>
    <% @job.executors %>
      <h3>Assigned executors for <%= @job.title %></h3>
      <ul>
    <% if @job.executors.any? %>
    <% @job.executors.each do |assigned| %>
            <li><%= assigned.name %></li>
    <% end %>
    <% else %>
    <%= 'No executors assigned' %>
    <% end %>
      </ul>
  </div>

  <div>
    <%= form.label :approvers %>
    <%= form.select :approvers, options_for_select(Activejob::Web.job_approvers_class.to_s.constantize.pluck(:name, :id)), { }, placeholder: 'Job Approvers' %>
  </div><br>

  <div>
    <%= form.label :executors %>
    <%= form.select :executors, options_for_select(Activejob::Web.job_executors_class.to_s.constantize.pluck(:name, :id)), { }, placeholder: 'Job Executors' %>
  </div><br>
  <div><%= form.submit %></div>
<% end %>
