<h1>Job: <%= @job.title %></h1>

<%= form_with model: @job do |form| %>
  <% if @job.errors.any? %>
    <% @job.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <div>
    <% @job.approvers %>
      <h3>Assigned approvers for <%= @job.title %></h3>
      <ul>
    <% if @job.approvers.any? %>
    <% @job.approvers.each do |assigned| %>
            <li><%= assigned.name %></li>
    <% end %>
    <% else %>
    <%= 'No approvers assigned' %>
    <% end %>
      </ul>
  </div>

  <div>
    <% @job.executors %>
      <h3>Assigned executors for <%= @job.title %></h3>
      <ul>
    <% if @job.executors.any? %>
    <% @job.executors.each do |assigned| %>
            <li><%= assigned.name %></li>
    <% end %>
    <% else %>
    <%= 'No executors assigned' %>
    <% end %>
      </ul>
  </div>

  <div>
    <%= form.label :approvers %>
    <%= form.collection_select(:approver_ids, Activejob::Web.job_approvers_class.to_s.constantize.all, :id, :name, { multiple: true }) %>
  </div><br>

  <div>
    <%= form.label :executors %>
    <%= form.collection_select(:executor_ids, Activejob::Web.job_approvers_class.to_s.constantize.all, :id, :name, {}, { multiple: true }) %>
  </div><br>
  <div><%= form.submit %></div>
<% end %>
