<h1>Active Job Web Jobs</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>ID</th>
    <th>queue</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.description %></td>
      <td><%= job.id %></td>
      <td><%= job.queue %></td>
      <td><%= link_to 'Show', activejob_web_job_path(job) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if flash[:notice] %>
  <div style="background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; padding: 15px; margin-bottom: 15px;">
    <%= flash[:notice] %>
  </div>
<% end %>
