<% if flash[:notice] %>
  <div style="background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; padding: 15px; margin-bottom: 15px;">
    <%= flash[:notice] %>
  </div>
<% end %>
<h1><%= @job.title %></h1>

<p><strong>Description:</strong> <%= @job.description %></p>
<p><strong>Input Arguments:</strong> <%= @job.input_arguments %></p>
<p><strong>Max Run Time:</strong> <%= @job.max_run_time %></p>
<p><strong>Minimum Approvals Required:</strong> <%= @job.minimum_approvals_required %></p>
<p><strong>Priority:</strong> <%= @job.priority %></p>
<p><strong>Queue:</strong> <%= @job.queue %></p>
<% if @job.template_file.attached? %>
  <%= link_to "Download PDF", rails_blob_path(@job.template_file, disposition: "attachment"), class: "btn btn-primary" %>
<% else %>
  <p>no template available</p>
<% end %>
<% if Activejob::Web.job_admins_class.constantize.active_job_admins.where(id: activejob_web_current_user.id).exists? %>
  <div>
    <h3>Assigned approvers</h3>
    <ul>
      <% if @job_approvers.length > 0 %>
        <% @job_approvers.each do |approver| %>
          <li><%= approver.name %></li>
        <% end %>
      <% else %>
        <%= 'No approvers assigned' %>
      <% end %>
    </ul>
  </div>

  <div>
    <h3>Assigned executors</h3>
    <ul>
      <% if @job_executors.length > 0 %>
        <% @job_executors.each do |executor| %>
          <li><%= executor.name %></li>
        <% end %>
      <% else %>
        <%= 'No executors assigned' %>
      <% end %>
    </ul>
  </div>
  <p><%= link_to 'Edit Job', edit_activejob_web_job_path(@job) %></p>
  <p><%= link_to 'Back', activejob_web_jobs_path %></p>
  <p><%= link_to 'Job Executions', activejob_web_job_job_executions_path(@job, @job_executions) %></p>
<% end %>
