<div class="row mt-3 p-3">
  <div class="col-12 col-md-12 col-xl-12 mt-md-0 mt-4">
    <div class="card h-100">
      <div class="card-header pb-0 p-3">
        <div class="row">
          <div class="col-md-8 d-flex align-items-center">
            <h3 class="mb-3">Job Approval Request(s) Details</h3>
          </div>
          <div class="col-md-4 text-end mt-1">
            <%= link_to 'Back', activejob_web_job_job_executions_path(@job), class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Approver Name</th>
            <th scope="col">Approver Email</th>
            <th scope="col">Response</th>
            <th scope="col">Comments</th>
          </tr>
          </thead>
          <tbody>
          <% @job_approval_requests.each do |approval_request| %>
            <tr>
              <td><%= approval_request.approver&.name || '-' %></td>
              <td><%= approval_request.approver.email %></td>
              <td><span class="badge text-bg-<%= status_badge(approval_request.response) %>"><%= approval_request.response || 'waiting for approval' %></span></td>
              <td><%= approval_request.approver_comments || '-' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 p-3">
  <div class="col-12 col-md-12 col-xl-12 mt-md-0 mt-4">
    <div class="card h-100">
      <div class="card-header pb-0 p-3">
        <div class="row">
          <div class="col-md-8 d-flex align-items-center">
            <h3 class="mb-3">Job Execution Details</h3>
          </div>
          <div class="col-md-4 text-end mt-1">
            <% if @job_execution.cancel_execution %>
              <%= button_to 'Cancel Job Execution', cancel_activejob_web_job_job_execution_path(@job, @job_execution), method: :patch, onclick: "return confirm('Are you sure you want to cancel this job execution?');", class: 'btn btn-outline-danger' %>
            <% end %>
            <% if @job_execution.cancelled? %>
              <%= button_to 'Reinitiate Job Execution',reinitiate_activejob_web_job_job_execution_path(@job, @job_execution), method: :post, onclick: "return confirm('Are you sure you want to reinitiate this job execution?');", class: 'btn btn-outline-primary'  %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <div class="mb-3 row">
          <div class="col-sm-3"><strong class="text-dark">Status:</strong></div>
          <div class="col-sm-9"><span class="badge text-bg-<%= status_badge(@job_execution.status) %>"><%= @job_execution.status %></span></div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-3"><strong class="text-dark">Comments:</strong></div>
          <div class="col-sm-9"><%= @job_execution.requestor_comments %></div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-3"><strong class="text-dark">Auto Execute on Approval:</strong></div>
          <div class="col-sm-9"><%= @job_execution.auto_execute_on_approval %></div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-3"><strong class="text-dark">Run At:</strong></div>
          <div class="col-sm-9"><%= @job_execution.run_at || '-' %></div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-3"><strong class="text-dark">Execution Started At:</strong></div>
          <div class="col-sm-9"><%= @job_execution.execution_started_at || '-' %></div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-3"><strong class="text-dark">Reason for Failure:</strong></div>
          <div class="col-sm-9"><%= @job_execution.reason_for_failure || '-' %></div>
        </div>

        <% if @job_execution.input_file.attached? %>
          <div class="mb-3 row">
            <div class="col-sm-3"><strong class="text-dark">File:</strong></div>
            <a href="<%= @job_execution.input_file.url %>" class="col-sm-9" target="_blank"><%= @job_execution.input_file.blob.filename %></a>
          </div>
        <% end %>

        <div class="mb-3 row">
          <div class="col-sm-3"><strong class="text-dark">Arguments:</strong></div>
          <div class="col-sm-9">
            <% if @job_execution.arguments.present? %>
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover mb-0">
                      <thead>
                      <tr>
                        <th>Key</th>
                        <th>Value</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @job_execution.arguments.each do |argument| %>
                        <tr>
                          <td>
                            <p class="font-14 my-1 fw-normal"><%= argument.first.split('_').map(&:capitalize).join(' ') %></p>
                          </td>
                          <td>
                            <p class="font-14 my-1 fw-normal"><%= argument.second.presence || '-' %></p>
                          </td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <% else %>
              -
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

