<% if flash[:notice] %>
  <div style="background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; padding: 15px; margin-bottom: 15px;">
    <%= flash[:notice] %>
  </div>
<% end %>
<h1>Job Executions</h1>
<%= render partial: 'job_execution_form',locals: {url:activejob_web_job_job_executions_path(@job)}%>
<table>
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Requestor Comments</th>
    <th>Auto Execute On Approval</th>
    <th>Actions</th>
  </tr>
  <% @job_executions.each do |job_execution| %>
    <tr>
      <td><%= job_execution.id %></td>
      <td><%= job_execution.status %></td>
      <td><%= job_execution.requestor_comments %></td>
      <td><%= job_execution.auto_execute_on_approval %></td>
      <td>
        <%= link_to 'Show', activejob_web_job_job_execution_path(@job,job_execution) %>
        <%= link_to 'Back', activejob_web_jobs_path %>
      </td>
    </tr>
  <% end %>
</table>
