<h1>Job Executions</h1>
<%= form_for( [@job, @new_job_execution],url: activejob_web_job_job_executions_path(@job)) do |form| %>
  <div class="form-group">
    <%= form.select :status, ActivejobWeb::JobExecution.statuses.keys %>
  </div>
  <div class="form-group">
    <%= form.text_field :requestor_comments, placeholder: "Requestor Comments" %>
  </div>
  <div class="form-group">
    <%= form.label :auto_execute_on_approval %>
    <%= form.check_box :auto_execute_on_approval %>
  </div>
  <div class="form-group">
    <%= form.submit "Create Job Execution" %>
  </div>
<% end %>
<table>
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Requestor Comments</th>
    <th>Auto Execute On Approval</th>
    <th>Actions</th>
  </tr>
  <% @job_executions.each do |job_execution| %>
    <tr>
      <td><%= job_execution.id %></td>
      <td><%= job_execution.status %></td>
      <td><%= job_execution.requestor_comments %></td>
      <td><%= job_execution.auto_execute_on_approval %></td>
      <td><%= link_to 'Show', activejob_web_job_job_execution_path(@job,job_execution) %></td>
    </tr>
  <% end %>
</table>
<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
