<% if flash[:notice] %>
  <div style="background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; padding: 15px; margin-bottom: 15px;">
    <%= flash[:notice] %>
  </div>
<% end %>
<h1>Job Execution Details</h1>

<p><strong>ID:</strong> <%= @job_execution.id %></p>
<p><strong>Status:</strong> <%= @job_execution.status %></p>
<p><strong>Requestor Comments:</strong> <%= @job_execution.requestor_comments %></p>
<p><strong>Auto_execute_on_approval:</strong> <%= @job_execution.auto_execute_on_approval %></p>
<p><strong>Reason for Failure:</strong> <%= @job_execution.reason_for_failure %></p>
<p><strong>Arguments:</strong><%= @job_execution.arguments %></p>
<p><strong>Auto Execute on Approval:</strong> <%= @job_execution.auto_execute_on_approval %></p>
<p><strong>Run At:</strong> <%= @job_execution.run_at %></p>
<p><strong>Execution Started At:</strong> <%= @job_execution.execution_started_at %></p>

<%= link_to 'Edit', edit_activejob_web_job_job_execution_path(@job,@job_execution) %> |
<%= link_to 'Back', activejob_web_job_job_executions_path %>
<%= link_to 'Job_approval_requests',activejob_web_job_job_execution_job_approval_requests_path(@job, @job_execution, @job_approval_requests)  %>
<% if @cancel_job_exec_status == true %>
  <%= button_to 'Cancel Job Execution', cancel_activejob_web_job_job_execution_path(@job, @job_execution), method: :patch, onclick: "return confirm('Are you sure you want to cancel this job execution?');" %>
<% end %>
<% if @job_execution.status == 'cancelled' %>
  <%= button_to 'Reinitiate Job Execution',reinitiate_activejob_web_job_job_execution_path(@job, @job_execution), method: :post, onclick: "return confirm('Are you sure you want to reinitiate this job execution?');"  %>
<% end %>